<mat-card>
  <mat-card-header>
    <mat-card-title>Nodos</mat-card-title>
  </mat-card-header>
  <mat-card-content class="list">
    @for (n of nodeTypes(); track n.type) {
      <div
        class="item"
        cdkDrag
        [cdkDragData]="n.type"
        (cdkDragStarted)="onDragStarted()"
        (cdkDragEnded)="onDragEnded()"
      >
        <div class="title">{{ n.visual.title }}</div>
        <div class="desc">{{ n.visual.description }}</div>
      </div>
    }
  </mat-card-content>
</mat-card>
